<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание нового продукта</title>
</head>
<body>
<header>
    <h1>Создать новый продукт</h1>
</header>
<main>
    <form th:action="@{/products}" method="post" th:object="${product}" enctype="multipart/form-data">
        <label for="name">Название продукта:</label>
        <input type="text" id="name" th:field="*{name}" required />

        <label for="category">Категория:</label>
        <input type="text" id="category" th:field="*{category}" required />

        <label for="descriptions">Описание:</label>
        <textarea id="descriptions" th:field="*{descriptions}" required></textarea>

        <label for="price">Цена:</label>
        <input type="number" id="price" th:field="*{price}" step="0.01" required />

        <label for="brand">Бренд:</label>
        <input type="text" id="brand" th:field="*{brand}" required />

        <label for="image">Изображение продукта:</label>
        <input type="file" id="image" th:field="*{image}" />

        <button type="submit">Сохранить</button>
        <a th:href="@{/products/}">Отмена</a>
    </form>
</main>
<footer>
    <p>© 2025 Bodybuilder Magazine</p>
</footer>
</body>
</html>
